<!-- .awards -->
<div id="awards" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Awards & Achievements</h1> 

<div class="row">

   <!-- .awards-right -->
    <!-- <div class="col-md-6"></div> -->
     <!-- /.awards-right -->
     
     
     
     <!-- .awards-left -->
    <div class="col-md-12 awards-left">    
       
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        
        <ul class="attributes">
            <li class="first">
                <h5>Technical Employee of the year <span class="duration"><i class="fa fa-calendar color"></i> 2015 </span></h5>
                <h6><span class="fa fa-trophy"></span> ADCC Infocad, Nagpur </h6>
                <!-- <p>ADCC Infocad, Nagpur</p> -->
            </li>
            <li>
                <h5>Best Associate <span class="duration"><i class="fa fa-calendar color"></i> 2017 </span></h5>
                <h6><span class="fa fa-trophy"></span> Accenture solutions </h6>
            </li>
            <li>
                <h5>Best Team Lead <span class="duration"><i class="fa fa-calendar color"></i> 2017 </span></h5>
                <h6><span class="fa fa-trophy"></span> Accenture Solutions </h6>
            </li>
            <li>
                <h5>Star of Business <span class="duration"><i class="fa fa-calendar color"></i> 2018 </span></h5>
                <h6><span class="fa fa-trophy"></span> Accenture solutions </h6>
            </li>
            <li>
                <h5>Two times awarded as Best Lead Client Nominations  <span class="duration"><i class="fa fa-calendar color"></i> 2018 </span></h5>
                <h6><span class="fa fa-trophy"></span> Accenture solutions </h6>
            </li>
            <li>
                <h5>Top executive in finding out bugs in Tools  <span class="duration"><i class="fa fa-calendar color"></i> 2019 </span></h5>
                <h6><span class="fa fa-trophy"></span> Civil Maps </h6>
            </li>   

        </ul>
        <br>  
        
    </div>
    <!-- /.awards-left -->
</div>

<div style="clear: both"></div>

</div>
<!-- End .awards -->