<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Management skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Project Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Stakeholder Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Team Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Vendor Management</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Technical Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>HD Maps</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>GIS Remote Sensing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Routing & Navigation</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Lidar</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 

             <!-- .skillbar -->
             <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>2D & 3D Self Driving Car Maps</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Spreadsheet</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Photography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Bike Riding</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Music</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Hindi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>Marathi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="assets/file/Saket_Sonekar.pdf">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Product Operations Manager <span class="duration"><i class="fa fa-calendar color"></i> Nov 2019 – present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Hyperspec.AI, Sanfrancisco </h6>
                <p>
                    - Autonomous vehicles are unable to scale due to operationally inefficient HD maps. Waymo, Zoox, Cruise, Argo AI stand at risk of being disrupted by companies like Tesla that leverage real-time scene construction as mentioned by a recent article in Seeking Alpha. </br>
                    - Today we are using Google Maps and Apple Maps to get around everywhere we go. However, now imagine you can only use them in Mountain View, Phoenix, and San Francisco.</br>
                    - This is what Autonomous Vehicles are dealing with today. They rely on a hard connection to a high-definition master map to know where they are and where to go.</br>
                </br>
                    - Hyperspec AI removes that dependency by leveling up each vehicle with a real-time vision pipeline that localizes and navigates without reliance on a hard tether to the HD map. </br>
                    - We untether from the HD maps using our hyper-accurate positioning algorithm which only drifts 10 centimeters per min. We then correct this drift using standard definition aerial imagery which is widely available. We are building the technology required to expand the territory accessible to autonomous vehicles from 3% to 95% of our roadways while reducing today’s cost of $5000/km by more than 90%. Our technology is a kingmaker for self-driving companies because we help our customers out-scale their competition with positive unit economics.</br>
                </p>
            </li>
            <li>
                <h5>Project Manager <span class="duration"><i class="fa fa-calendar color"></i> Jan – Aug 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Civil Maps, Hyderabad, India</h6>
                <p>
                    - Civil maps is San Francisco based company that provides a solution for autonomous vehicles with cognition, enabling them to crowdsource 3D maps and make better decisions for safe driving. </br>
                    - I was hired first for India mapping Operations. I have handled entire mapping operations right from hiring to training, starting operations, and deliver the project on time.</br>
                    - Have worked on 2 different projects one is HD maps which are completely for self-driving vehicle maps and the other one is last-mile Robo door delivery of goods. 
                </br>
                    - Have worked with the development team and created QC tools for all 8 processes. </br>
                    - The team has worked on Right from loop closure, Vector data creation, navigation steps to final checks, and delivering to the client.</br>
                    - Developed process improvement initiatives and analyzed problems to create corrective action strategies.</br>
                </p>
            </li>
            <li>
                <h5> Team Lead <span class="duration"><i class="fa fa-calendar color"></i> June 2016 –Dec 2018 </span></h5>
                <h6><span class="fa fa-briefcase"></span> Uber Technologies, Hyderabad, India </h6>
                <p>
                    - Mapping operations started in 2016 with the goal of creating a base map with routing and navigation services for ride-hailing app and driverless vehicles.</br>
                    - Handled a team of 50 employees working for final quality checks, city delivery and post maps delivery services.</br>
                    - Have knowledge of all navigation and routing services.</br>
                    - Launched more than 40+ cities display maps, routing, and Navigation.</br>
                    - Closely worked with the clients to provide immediate solutions of delivered maps.</br>
                    - Provided daily, weekly, and city-wise feedback and solutions to all the production teams.</br>
                </p>
            </li>
            <li>
                <h5> Team Lead <span class="duration"><i class="fa fa-calendar color"></i> Feb 2015 –Jun 2016 </span></h5>
                <h6><span class="fa fa-briefcase"></span> Ceinsys Tech Ltd (Formally ADCC Infocad Limited) , Nagpur, India </h6>
                <p>
                    - Managed a Team of 50+ Employees who worked in Mapping and GIS projects for End to end mapping and city delivery. </br>
                    - Worked on 3 different projects cadestrial mapping and POI.</br>
                    - Minimized resource and time losses by addressing employee or production issues directly and implementing timely solutions.</br>
                    - Worked for India mapping operations for Point of interest, Base Map Creation, and Different types of Attributes.</br>
                    - Worked with team members to improve performance and implement training updates.
                </p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>B.Tech in Mechanical Engineering <span class="duration"><i class="fa fa-calendar color"></i> 2010-14</span></h5>
                <h6><span class="fa fa-book"></span> Nagpur University, Nagpur (M.H.)</h6>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p> -->
            </li>
            <li>
                <h5>Certification in Remote Sensing & GIS <span class="duration"><i class="fa fa-calendar color"></i> Feb 2016</span></h5>
                <h6><span class="fa fa-book"></span> National Remote Sensing Centre (ISRO), Hyderabad (TS)</h6>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscingVivamus sit amet ligula non lectus cursus egestas. Cras erat lorem, fringilla quis sagittis in, sagittis inNam leo tortor Nam leo tortor Vivamus.</p> -->
            </li>
        </ul>
        <!-- /.attributes -->
        <br>
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>

</div>
<!-- End .resume -->